  /* 전체 */
  * {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'NanumSquare', sans-serif !important;
}
/* 본문영역 너비 조정 */

#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto;

}

nav {
    height: 64px;
    /* border-bottom: thistle 1px solid; */
}

nav li {
    display: inline;
    font-weight: 800;
    font-size: 20px;
    position: relative;
    top: 24px;
    padding: 5px 20px;
    /* color: #333333; */
    float: left;
    margin-right: 10px;

}

nav li:hover {
    background-color: #1e00ff;
    padding: 5px 20px;
    border-radius: 30px;
    color: white;

}

nav li a {
    text-decoration: none;
}

nav li a:hover {
    color: white;
}

/* 메뉴 선택된거 파란색 버튼으로 남아있게 설정 (제이쿼리 관련) */
ul.menu li.li-selected {
    background-color: #1e00ff;
    padding: 5px 20px;
    border-radius: 30px;
    color: white !important;

}

a, a:visited, a:hover, a:active {
    color: inherit;
}

/* 로고 관련 */

#logo_img {
    position: relative;
    top: -7px;
    width: auto;
    height: 50px;

}

#logo_a:hover {
    background-color: white;
}

#logo_img:hover {
    background-color: white;
}


nav li #selected {
    background-color: #1e00ff;
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
}



#login {
    float: right;
}


